body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    opacity: 0; /* Initial opacity set to 0 to hide content */
    animation: fadeIn 1s ease-in forwards; /* Animation to fade in content */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}

.container {
    text-align: center;
}

header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 10px;
}

main {
    margin: 20px;
}

p {
    font-size: 1.2em;
    margin: 0;
    padding: 10px;
}

footer {
    margin-top: 20px; /* Adjust this value to change the distance from the main content */
}

footer p {
    font-size: 0.8em;
    color: #bbbbbb;
}
